html, body {
    height: 100%;
    margin: 0;
}

.options-menu {
    overflow-x: hidden;
    overflow-y: hidden;
    background-repeat: repeat-y;
}

body {
    background: black;
    background-image: linear-gradient(0deg, rgba(128, 128, 128, 0.2) 25%, transparent 25%, transparent 50%, rgba(128, 128, 128, 0.2) 50%, rgba(128, 128, 128, 0.2) 75%, transparent 75%, transparent);
    background-size: 15px 15px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.options-header {
    text-align: right;
    padding: 2vh;
    background: linear-gradient(0deg, #000000 1%, #272727 100%);
    color: white;
    border-bottom: 4px solid white;
    margin-top: auto;
}

.options-content {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 5vh;
    flex: 1; /* Allows content to expand and push footer to the bottom */
}

.box {
    width: 50vh;
    margin: auto;
    height: 50vh;
    background-color: white;
    border-radius: 15px;
    border: 10px solid #44b6f4;
}

.options-footer {
    border-top: 4px solid white;
    padding: 75px;
    background: linear-gradient(0deg, #000000 1%, #272727 100%);
    margin-top: auto; /* Pushes the footer to the bottom */
}
.gameManager {
    transform: scale(0.9);
    margin-top: -4vh;
    margin-right: 5vh;
    margin-bottom: -9vh;
}


button {
    color: black;
    background-color: white;
    width: 400px;
    height: 120px;
    border-radius: 120px;
    border-color: #44b6f4;
}

img {
    margin-right: 13vh;
}
h3 {
    margin-top: 45vh;
    text-align: center;
    color: black;
}